{
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "components": "./components",
          "layouts": "./layouts"
        }
      }
    ]
  ],
  "presets": ["next/babel"]
}
